<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends "myadmin/base.html" %}


{% block mainbody %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        会员管理
        <small>订餐系统后台管理</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">订单信息管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-calendar"></i>订单信息</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>订单id</th>
                  <th>会员id</th>
                  <th>金额</th>
                  <th>付款方式</th>
                  <th>收款银行渠道</th>
                  <th  width="8%">支付状态</th>
                  <th>添加时间</th>
                  <th>修改时间</th>
                </tr>
                {% for vo in paylist %}
                <tr>
                  <td>{{ vo.id }}</td>
                  <td>{{ vo.order_id }}</td>
                  <td>{{ vo.member_id }}</td>
                  <td>{{ vo.money }}</td>
                  <td >
                    {% if vo.type == 1 %}
                      <span style="color:green">会员付款</span>
                    {% elif vo.type == 2 %}
                      <span style="color:green">收银员付款</span>
                    {% else %}
                      <span style="color:red">未知状态</span>
                    {% endif %}
                  </td>
                  <td >
                    {% if vo.bank == 1 %}
                      <span style="color:green">微信</span>
                    {% elif vo.bank == 2 %}
                      <span style="color:green">余额</span>
                    {% elif vo.bank == 3 %}
                      <span style="color:green">现金</span>
                    {% elif vo.bank == 4 %}
                      <span style="color:green">支付宝</span>
                    {% else %}
                      <span style="color:red">未知状态</span>
                    {% endif %}
                  </td>
                  <td >
                    {% if vo.status == 1 %}
                      <span style="color:green">未支付</span>
                    {% elif vo.status == 2 %}
                      <span style="color:green">已支付</span>
                    {% elif vo.status == 3 %}
                      <span style="color:green">已退款</span>
                    {% else %}
                      <span style="color:red">未知状态</span>
                    {% endif %}
                  </td>
                  <td width="10%">{{ vo.create_at|date:'Y-m-d' }}</td>
                  <td width="10%">{{ vo.update_at|date:'Y-m-d' }}</td>

                </tr>
                {% endfor %}
              </table>
            </div>
           <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">

        {% for p in plist %}
        <li {% if pIndex == p %}class="active"{% endif %}>
            <a href="{% url 'myadmin_payment_index' p %}">{{p}}</a>
        </li>
        {% endfor %}

              </ul>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>






{% endblock %}